<div class="container">
    <h1>Best Motivational Quotes</h1>
    <div class="">
        <div class="col">
            <app-quote-form></app-quote-form>
        </div>
        <div class="col">
                <h3>Quotes list</h3>
                <hr>
                <ul>
                    <li *ngFor="let quote of quotes; let i=index">{{quote.quote}}</li>
                    <button>Display author</button>
                    <app-author-detail [quote='quote'] (isComplete)="deleteQuote($event, 1)"></app-author-detail>
                </ul>
        </div>
    </div>
</div>
